@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #131313;
    transition: all 0.5s ease;

}

#title {

    font-family: 'Bungee', cursive;
    font-size: 54px;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    color: #ff9933;

    width: 70%;


}
#subtext {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
    color: #fff;

    width: 100%;

}
#img-div {
    
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
     width: 70%;
     margin-bottom: 100px;
     margin-top: 100px;

}

#image {
    border: 20px solid #ff8f1f;
    border-radius: 20px;
    box-shadow: 0 0 20px #fff;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    transition: all 0.5s ease-out;

}

#img-caption {
    font-size: 36px;
    justify-content: center;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    color: #fff;

}



#tribute-info {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    color: #fff;

    width: 70%;

}

#tribute-info h2 {
    font-family: 'Bungee', cursive;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #ff9933;

}

button {
 
    font-family: 'Bungee', cursive;
    font-size: 38px;
    cursor: pointer;
    background-color: #fa8f23;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease-out;

}

button:hover {

    background-color: #fff;
    color: #fa8f23;
    transform: rotate(5deg);

}

a {
    display: flex;
    text-decoration: none;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    
}


@media screen and (max-width : 900px) {

    #image {
        max-width: 300px;
    }
}

